
<h2>Add New Products</h2> </br>

 
<form action="new-product" method="POST">
        <h1>product name</h1>
        <input name="title" type="text" placeholder="product name">
        <h1>product Price</h1>
        <input name="price" type="text" placeholder="product Price">
        <button type="submit">Add item</button>

 </form>   